<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
    <h5 class="h5">OTP Verification</h5>
    <div style="margin-top: 15px; font-size: 13px;">
      <span>An OTP has been sent to XXXXXX{{mobileNumber}}</span>
    </div>
    <form [formGroup]="forgotPasswordVerificationForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter OTP</mat-label>
        <input matInput placeholder="Enter OTP" formControlName="otp" autocomplete="off"
              (keydown.space)="$event.preventDefault()">
        <mat-error *ngIf="forgotPasswordVerificationForm.get('otp').hasError('required')">
          OTP is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordVerificationForm.get('otp').hasError('pattern')">
          OTP length should be 6 digits
        </mat-error>
        <mat-error *ngIf="forgotPasswordVerificationForm.get('otp').hasError('validLength')">
          Allow only digits
        </mat-error>
        <mat-hint>Enter OTP received on XXXXXX{{mobileNumber}}</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter 4 digits PIN</mat-label>
        <input matInput placeholder="Enter 4 digits PIN" type="number" 
                [type]="hide ? 'password' : 'number'" 
                formControlName="password" autocomplete="off" minlength=4 maxlength=4 
                (keydown.space)="$event.preventDefault()">
        <mat-icon matSuffix (click)="hide = !hide" style="color: grey;">{{hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-error *ngIf="forgotPasswordVerificationForm.get('password').hasError('required')">
            PIN is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordVerificationForm.get('password').hasError('pattern')">
            PIN should be 4 digits(0-9) only
        </mat-error>
        <mat-hint>Set a 4 digit PIN to login and approve data sharing requests</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Re-enter PIN</mat-label>
        <input matInput placeholder="Re-enter PIN" type="number" [type]="confirmHide ? 'password' : 'number'" 
              formControlName="reEnterPassword" autocomplete="off" minlength=4 maxlength=4 (keydown.space)="$event.preventDefault()">
        <mat-icon matSuffix (click)="confirmHide = !confirmHide" style="color: grey;">{{confirmHide ? 'visibility_off' : 'visibility' }}</mat-icon>
        <mat-error *ngIf="forgotPasswordVerificationForm.get('reEnterPassword').hasError('required')">
            Confirm PIN is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordVerificationForm.get('reEnterPassword').hasError('pattern')">
            Confirm PIN should be 4 digits(0-9) only
        </mat-error>
        <mat-error *ngIf="forgotPasswordVerificationForm.get('reEnterPassword').hasError('confirmedValidator')">
            Passwords do not match
        </mat-error>
        <mat-hint>Re-confirm your PIN</mat-hint>
    </mat-form-field>
    <div class="input-group">
      <p *ngIf='!showlink'><a class="m-t-12" href="javascript:" (click)="onForgotPasswordVerification()">Resend OTP</a></p>
      <p *ngIf='showlink'><a class="m-t-12">Resend OTP</a></p>
    </div>
    <p style="font-size: 12px;">{{counterTime$ | async}} secs</p>
   <div class="align-button">
    <button mat-raised-button class="button-class ripple" (click)="submitForm()">Verify</button>
   </div>
    </form>
  </mat-card-content>
</mat-card>


