<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
    <h5 class="h5">Error</h5>
    <div style="margin-top: 15px; font-size: 13px;">
      <span>Oops, Something went wrong!</span>      
    </div>
  </mat-card-content>
</mat-card>