<mat-card>
  <mat-card-content align="center">
    <img src="assets/themify-icons/SVG/verified-user.svg"  class="center" style="margin-top: 50px; width: 100px; height: 100px">    
    <div class="label-size" style="margin-bottom: 10px;margin-top: 30px;">
      <span><b>{{fiuName}}</b> has been notified</span>
    </div>
    <h5 class="h5">Consent Accepted !</h5>
    <span class="label-size">You will be redirected in {{counterTime$ | async}} secs</span>
    <div style="margin-top: 35px;">
      <button mat-raised-button class="button-class ripple" (click)="okClick()">Done</button>
    </div>
    <p class="label-size-with-color">Download FINVU app to manage consents and more !.</p>
    <img class="center" style="width: 100px; height: 30px; object-fit: cover;" src="assets/images/google-play.png">
  </mat-card-content>
</mat-card>
