<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;margin-top: 15px;">
    <h5 class="h5">Registration check</h5>
    <p class="label-size" style="margin-top: 10px;">We are checking your registration status with Finvu. Please wait...</p>
    <div class="loading-dots">
      <div class="loading-dots--dot"></div>
      <div class="loading-dots--dot"></div>
      <div class="loading-dots--dot"></div>
    </div>           
  </mat-card-content>
</mat-card>