<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
    <h5 class="h5">Account Discovery</h5>
    <p style="margin-top: 15px;">No accounts found with <b>{{fipName}}</b>.</p>
    <div class="align-button">
      <button mat-raised-button class="button-class ripple" (click)="onOkClick()">Ok</button>
    </div>
  </mat-card-content>
</mat-card>