<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
    <h5 class="h5">Forgot Password</h5>
    <form [formGroup]="forgotPasswordForm">
      <mat-form-field appearance="outline">
        <mat-label>Enter Finvu handle</mat-label>
        <input class="example-right-align" matInput placeholder="Enter Finvu handle" formControlName="userId" autocomplete="off"
              (keydown.space)="$event.preventDefault()">
        <span matSuffix class="span-suffix-position">@finvu</span>
        <mat-error *ngIf="forgotPasswordForm.get('userId').hasError('required')">
          Finvu handle required                  
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('userId').hasError('pattern')">
          Min 6-30 chars. Letters, numbers, hyphen(-), period(.) only                
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter mobile number</mat-label>
        <input matInput placeholder="Enter mobile number" formControlName="mobile" autocomplete="off"
              minlength=10 maxlength=10 type="number" (keydown.space)="$event.preventDefault()">
        <mat-error *ngIf="forgotPasswordForm.get('mobile').hasError('required')">
          Mobile is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('mobile').hasError('pattern')">
          Please enter valid mobile number
        </mat-error>
        <mat-hint>Registered mobile no linked to your accounts</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions style="position: absolute; bottom: 30px;justify-content: space-between;">
    <button mat-flat-button class="button-with-no-background light-ripple" style="margin-right: 4px;" (click)="onCancel()">Cancel</button>
    <button mat-raised-button class="button-class ripple" (click)="onForgotPassword()">Continue</button>
  </mat-card-actions>
</mat-card>


