<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
    <h5 class="h5">Pending Consent Request</h5>
    <p class="label-size" style="margin-top: 15px;">You do not have pending consent request(s).</p>
    <div class="align-button">
      <button mat-raised-button class="button-class ripple" (click)="onOkClick()">Ok</button>
    </div>
  </mat-card-content>
</mat-card>