<mat-card>
  <mat-card-content>
    <!-- <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;"> -->
    <h5 class="h5">Select Institution</h5>
    <div style="margin-bottom: 15px; font-size: 13px;">
      <span>Your mobile no XXXXXX{{mobile}} will be used to find your accounts with the institution</span>
    </div>
    <form [formGroup]="selectForm">
      <mat-form-field appearance="outline">
        <mat-label>Search institution</mat-label>
        <input matInput placeholder="Search institution or type Bank" formControlName="fipList" autocomplete="off"
             [matAutocomplete]="auto" (keyup)="onKey($event)">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option class="label-size" *ngFor="let item of fipNamesList" [value]="item.fipName">
              {{item.fipName}}
            </mat-option>
        </mat-autocomplete>
        <mat-icon matPrefix style="color: grey;">search</mat-icon>
      </mat-form-field>
      <div style="font-size: 12px;margin-bottom: 5px;">
        <span>INSTITUTIONS</span>
      </div>     
      <div calss="row input-group">
        <div class="column" *ngFor="let item of popularSearchImagesList" (click)="listClick($event, item)">
          <img class="img-class" src="{{item.productIconUri}}">
          <span class="caption">{{item.productName}}</span>
        </div>
      </div>
      <div class="align-button">
        <button mat-raised-button class="button-class ripple" (click)="onNextClick()">Next</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>  