<mat-card>
  <mat-card-content>
      <div align="center" style="padding-top: 20px;padding-bottom: 20px;">
        <img src="assets/themify-icons/SVG/mobile-verified.svg" style="width:209px;height:70px;">
      </div>
      <div style="margin-top: 20px; margin-bottom: 20px; font-size: 13px;">
        <span>Your mobile no needs verification to complete the registration</span>
      </div>
      <h5 class="h5">Mobile Verification</h5>
      <form [formGroup]="mobileVerificationForm">
        <mat-form-field appearance="outline">
          <mat-label>Enter OTP</mat-label>
          <input matInput placeholder="Enter OTP" formControlName="otp" autocomplete="off"
               (keydown.space)="$event.preventDefault()" maxlength=6 minlength=6 type="number">
          <mat-error *ngIf="mobileVerificationForm.get('otp').hasError('required')">
            Otp is required                
          </mat-error>
          <mat-error *ngIf="mobileVerificationForm.controls['otp'].hasError('validLength') || mobileVerificationForm.get('otp').hasError('pattern')">
            Otp should be 6 digits only              
          </mat-error>
          <mat-hint>Enter OTP received on XXXXXX{{mobileNumber}}</mat-hint>
        </mat-form-field>
        <div class="input-group">
          <p *ngIf='!showlink'><a class="m-t-12" href="javascript:" (click)="onMobileVerification()">Resend OTP</a></p>
          <p *ngIf='showlink'><a class="m-t-12">Resend OTP</a></p>
        </div>
        <p style="font-size: 12px;">{{counterTime$ | async}} secs</p>
       <div class="align-button">
        <button mat-raised-button class="button-class ripple" (click)="onMobileVerify()">Verify</button>
       </div>
    </form>
  </mat-card-content>
</mat-card>
