<mat-card>
  <mat-card-content>
      <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
      <div style="margin-top: 15px; font-size: 13px;">
        <span>Login to Link accounts and approve consent</span>
      </div>
      <h5 class="h5">Sign In</h5>
      <form [formGroup]="webviewLoginForm">
        <mat-form-field appearance="outline">
          <mat-label>Enter Finvu handle</mat-label>
          <input class="example-right-align" matInput formControlName="username" autocomplete="off" (keydown.space)="$event.preventDefault()" maxlength="32">
          <span matSuffix class="span-suffix-position">@finvu</span>
          <mat-error *ngIf="webviewLoginForm.get('username').hasError('required')">
            Finvu handle required                               
          </mat-error>
          <mat-error *ngIf="webviewLoginForm.get('username').hasError('pattern')">
            Min 6-30 chars. Letters, numbers, hyphen(-), period(.) only          
          </mat-error>
          <mat-hint>Use your Finvu handle to login</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter PIN to login</mat-label>
          <input matInput placeholder="Enter PIN to login" type="number" [type]="hide ? 'password' : 'number'" 
              formControlName="password" autocomplete="off" minlength=4 maxlength=4 (keydown.space)="$event.preventDefault()">
          <mat-icon matSuffix (click)="hide = !hide" style="color: grey;">{{hide ?  'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="webviewLoginForm.get('password').hasError('required')">
            PIN is required
          </mat-error>
          <mat-error *ngIf="webviewLoginForm.get('password').hasError('pattern')">
            PIN should be 4 digits(0-9) only
          </mat-error>
        </mat-form-field>
        <div style="font-size: 12px;margin-top: 8px;">
          <a href="javascript:;" class="text-inverse" (click)="onForgotPasswordClick()">Forgot PIN</a>
        </div>
        <div style="font-size: 12px;">
          <a href="javascript:;" class="text-inverse" (click)="onRegisterClick()">Register</a>
        </div>
        <div style="font-size: 12px; padding-bottom: 10px;" id="copyright">
          <div style="text-align: right; padding-bottom: 10px;padding-right: 25px;">
            <button mat-raised-button class="button-class ripple" (click)="onLoginClick()">LOGIN</button>
          </div>
          <div style="padding-right: 25px;">
            <span>
              Finvu is a brand of Cookiejar Technologies Pvt Ltd, a regulated and licensed NBFC AA by RBI
            </span>
          </div>
        </div>
    </form>
  </mat-card-content>
</mat-card>



