<mat-card>
  <mat-card-content>
    <img src="assets/images/final_finvu_logo.svg" style="width:109px;height:60px;">
    <h5 class="h5">Pending Consent Approvals</h5>
    <div style="margin-top: 10px; font-size: 13px;">
      <span>Institutions requesting account information</span>
    </div>
    <div class="flex-container list-ripple" style="margin-top: 15px;" *ngFor="let item of offineMessages"
          (click)="onRowClick(item.userId, item.messageId)"> 
      <div class="image-container">
        <img src="assets/images/bank_large_light.png" width="30">
      </div>
      <div style="font-size: 12px;"> 
        <div><b>{{item.messageOriginatorName}}</b></div>
        <div>for {{item.messageText.substr(item.messageText.indexOf("for")).substring(4)}}</div> 
        <div class="text-muted">Requested on {{item.messageTimestamp | date:'d MMM y'}}</div>
      </div>
      <div class="image-container" style="margin-left: 35px;">
        <img src="assets/themify-icons/SVG/angle-right.svg">
      </div>
    </div>
    <div class="text-right align-self-end ml-auto" style="margin-top: 20px;">
      <button mat-raised-button class="button-class ripple" (click)="userOffineMessages()">Refresh</button>
    </div>
  </mat-card-content>
</mat-card>

      
            
          
        
    
    
  

