<mat-card>
  <mat-card-content>
    <h5 class="h5">Link Account</h5>
    <div style="font-size: 13px;">
      <span>Select from below accounts to link to your id. OTP will be sent by your institution for verification</span>
    </div>
    <hr class="divider" style="margin-top: 5px;margin-bottom: 5px;">
    <form [formGroup]="discoverForm">
      <div class="row">
        <div class="account-row" *ngFor="let item of accountsWithIcons;" style="margin-top: 10px;">
          <div class="col-2 image-container">
            <img src={{item.icon.icon}} width="30"> 
          </div>
          <div class="col-7 label-size">
            <div style="color: #1168B4;"><b>{{item.fipName}}</b></div>
            <div class="text-muted" *ngIf="item.accType == 'DEFAULT'">{{item.FIType}}</div>
            <div class="text-muted" *ngIf="item.accType != 'DEFAULT'">{{item.accType}}</div>
            <div class="text-muted">{{item.maskedAccNumber}}</div>
          </div>
          <div class="col-3">
            <div class="form-check" style="align-items: center;display: inline-block;">
              <input class="form-check-input" type="checkbox" formControlName="selectAccount"  
                        (change)="onCheckboxChange(item,$event)" [checked]="isSelected(item)"/>
            </div>
          </div>
        </div>
        <div class="loading-dots" *ngIf="routerChanged" style="margin-top: 20px;">
          <div class="row text-muted" style="align-items: center;display: block;font-size: 12px;">Please wait...</div>
          <div class="loading-dots--dot"></div>
          <div class="loading-dots--dot"></div>
          <div class="loading-dots--dot"></div>
        </div>
        <div class="input-group" style="padding-top: 5px;padding-bottom: 5px;">
          <span style="float:left;" class="messages text-danger" *ngIf="discoverForm.controls['selectAccount'].hasError('required') && (discoverForm.controls['selectAccount'].dirty || discoverForm.controls['selectAccount'].touched)">Select atleast one account</span>
          <span style="float:left;" class="messages text-danger" *ngIf="discoverForm.controls['selectAccount'].hasError('atleast') ">Select atleast one account</span>
        </div>
      </div>
    </form>
  </mat-card-content>
  <div class="text-right align-self-end ml-auto">
    <button mat-raised-button class="button-class ripple" (click)="submitForm()">Link</button>
  </div>
</mat-card>
